In [1]:
# Import dependencies
import pandas as pd
import numpy as np

In [2]:
# Read data into a pandas dataframe
election_df = pd.read_csv('Resources/1976-2020-president.csv')

# Display dataframe
election_df.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party_detailed,writein,candidatevotes,totalvotes,version,notes,party_simplified
0,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"CARTER, JIMMY",DEMOCRAT,False,659170,1182850,20210113,NaN,DEMOCRAT
1,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"FORD, GERALD",REPUBLICAN,False,504070,1182850,20210113,NaN,REPUBLICAN
2,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"MADDOX, LESTER",AMERICAN INDEPENDENT PARTY,False,9198,1182850,20210113,NaN,OTHER
3,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"BUBAR, BENJAMIN """"BEN""""",PROHIBITION,False,6669,1182850,20210113,NaN,OTHER
4,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"HALL, GUS",COMMUNIST PARTY USE,False,1954,1182850,20210113,NaN,OTHER

In [3]:
# Get information on the dataframe
election_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4287 entries, 0 to 4286
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   year              4287 non-null   int64
 1   state             4287 non-null   object
 2   state_po          4287 non-null   object
 3   state_fips        4287 non-null   int64
 4   state_cen         4287 non-null   int64
 5   state_ic          4287 non-null   int64
 6   office            4287 non-null   object
 7   candidate         4000 non-null   object
 8   party_detailed    3831 non-null   object
 9   writein           4284 non-null   object
 10  candidatevotes    4287 non-null   int64
 11  totalvotes        4287 non-null   int64
 12  version           4287 non-null   int64
 13  notes             0 non-null      float64
 14  party_simplified  4287 non-null   object
dtypes: float64(1), int64(7), object(7)
memory usage: 502.5+ KB

In [4]:
# Drop unnecessary columns
election_df = election_df.drop(columns=['state_fips', 'state_cen', 'state_ic', 'office', 'writein', 'version', 'notes', 'party_simplified'])

# Display dataframe
election_df.head()

,year,state,state_po,candidate,party_detailed,candidatevotes,totalvotes
0,1976,ALABAMA,AL,"CARTER, JIMMY",DEMOCRAT,659170,1182850
1,1976,ALABAMA,AL,"FORD, GERALD",REPUBLICAN,504070,1182850
2,1976,ALABAMA,AL,"MADDOX, LESTER",AMERICAN INDEPENDENT PARTY,9198,1182850
3,1976,ALABAMA,AL,"BUBAR, BENJAMIN """"BEN""""",PROHIBITION,6669,1182850
4,1976,ALABAMA,AL,"HALL, GUS",COMMUNIST PARTY USE,1954,1182850

In [5]:
# Drop rows with NaN values
election_df = election_df.dropna()

# Display dataframe
election_df.head()

,year,state,state_po,candidate,party_detailed,candidatevotes,totalvotes
0,1976,ALABAMA,AL,"CARTER, JIMMY",DEMOCRAT,659170,1182850
1,1976,ALABAMA,AL,"FORD, GERALD",REPUBLICAN,504070,1182850
2,1976,ALABAMA,AL,"MADDOX, LESTER",AMERICAN INDEPENDENT PARTY,9198,1182850
3,1976,ALABAMA,AL,"BUBAR, BENJAMIN """"BEN""""",PROHIBITION,6669,1182850
4,1976,ALABAMA,AL,"HALL, GUS",COMMUNIST PARTY USE,1954,1182850

In [6]:
# Get information on the dataframe
election_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3754 entries, 0 to 4283
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            3754 non-null   int64
 1   state           3754 non-null   object
 2   state_po        3754 non-null   object
 3   candidate       3754 non-null   object
 4   party_detailed  3754 non-null   object
 5   candidatevotes  3754 non-null   int64
 6   totalvotes      3754 non-null   int64
dtypes: int64(3), object(4)
memory usage: 234.6+ KB

In [7]:
# Create dataframe with data only from 2016
election_2016_df = election_df[(election_df['year'] == 2016)]

# Display dataframe
election_2016_df.head()

,year,state,state_po,candidate,party_detailed,candidatevotes,totalvotes
3395,2016,ALABAMA,AL,"TRUMP, DONALD J.",REPUBLICAN,1318255,2123372
3396,2016,ALABAMA,AL,"CLINTON, HILLARY",DEMOCRAT,729547,2123372
3397,2016,ALABAMA,AL,"JOHNSON, GARY",LIBERTARIAN,44467,2123372
3399,2016,ALABAMA,AL,"STEIN, JILL",GREEN,9391,2123372
3400,2016,ALASKA,AK,"TRUMP, DONALD J.",REPUBLICAN,163387,318608

In [8]:
# Create dataframe with data only from 2020
election_2020_df = election_df[(election_df['year'] == 2020)]

# Display dataframe
election_2020_df.head()

,year,state,state_po,candidate,party_detailed,candidatevotes,totalvotes
3740,2020,ALABAMA,AL,"BIDEN, JOSEPH R. JR",DEMOCRAT,849624,2323282
3741,2020,ALABAMA,AL,"TRUMP, DONALD J.",REPUBLICAN,1441170,2323282
3742,2020,ALABAMA,AL,"JORGENSEN, JO",LIBERTARIAN,25176,2323282
3744,2020,ALASKA,AK,"BIDEN, JOSEPH R. JR",DEMOCRAT,153778,359530
3745,2020,ALASKA,AK,"TRUMP, DONALD J.",REPUBLICAN,189951,359530

In [9]:
# Create dataframe with data only from 2016 and 2020
election_2016_2020_df = election_df[(election_df['year'] == 2016) | (election_df['year'] == 2020)]

# Display dataframe
election_2016_2020_df.head()

,year,state,state_po,candidate,party_detailed,candidatevotes,totalvotes
3395,2016,ALABAMA,AL,"TRUMP, DONALD J.",REPUBLICAN,1318255,2123372
3396,2016,ALABAMA,AL,"CLINTON, HILLARY",DEMOCRAT,729547,2123372
3397,2016,ALABAMA,AL,"JOHNSON, GARY",LIBERTARIAN,44467,2123372
3399,2016,ALABAMA,AL,"STEIN, JILL",GREEN,9391,2123372
3400,2016,ALASKA,AK,"TRUMP, DONALD J.",REPUBLICAN,163387,318608

In [10]:
# Save dataframes to csv files
election_2016_df.to_csv('Resources/election_2016.csv', index=False)
election_2020_df.to_csv('Resources/election_2020.csv', index=False)
election_2016_2020_df.to_csv('Resources/election_2016_2020.csv', index=False)